{% extends 'base.html' %}
{% block description %}{{ page.meta.description | default(page.meta.title + " - Jake Wang's Blog") | trim }}{% endblock %}
{% block title %}{{ page.meta.title }} - Jake的部落格{% endblock %}

{% block content %}
<article>
    <header class="post-header">
        <h1>{{ page.meta.title }}</h1>
        <div class="post-meta">
            <span>{{ page.meta.date|strftime }}</span>
            {% if page.meta.category %}
            <span class="post-category">
                &nbsp;•&nbsp; 
                <a href="{{ url_for('category', category_name=page.meta.category) }}">{{ page.meta.category }}</a>
            </span>
            {% endif %}
        </div>
    </header>

    <div class="entry">
        {{ page.html|safe }}
    </div>

    <div class="back-link">
        <a href="{{ url_for('home') }}">← 回到首頁</a>
    </div>
</article>
{% endblock %}